@media print {

#content, #page {
width: 100%;
margin: 0;
float: none;
}

/** Seitenränder einstellen */
@page {
  size: A4 portrait;
  margin-left: 2cm;
	margin-top: 1.5cm;
	margin-bottom: 1.5cm;
	margin-right: 1.5cm
}

/* Font auf 16px/13pt setzen, Background auf Weiß und Schrift auf Schwarz setzen.*/
/* Das spart Tinte */
body {
  font-size: 13pt;
font-family: Tahoma, Georgia, "Times New Roman", Times, serif;
line-height: 1.3;
color: #000000;
}

h1 {
font-size: 24pt;
}

h2, h3, h4 {
font-size: 14pt;
margin-top: 25px;
}

/* Alle Seitenumbrüche definieren */
a {
    page-break-inside:avoid
}
blockquote {
    page-break-inside: avoid;
}
h1, h2, h3, h4, h5, h6 {
  page-break-after:avoid;
  page-break-inside:avoid;
  }
img {
  page-break-inside:avoid;
     page-break-after:avoid;
}
table, pre { page-break-inside:avoid }
ul, ol, dl  { page-break-before:avoid }

.PageBreak {
    page-break-before: always;
}

/* Unnötige Elemente ausblenden für den Druck */



/* Wichtige Elemente definieren */
p, address, li, dt, dd, blockquote {
font-size: 100%;
	margin-bottom: 0;
	margin-top: 6px;
}


.kopf{
  position:relative;
  left:0;
  top:0;
}

.kopfzeile{
  position:absolute;
  left:0;
  top:0;
}

.logo{
  position:absolute;
  left:17cm;
  top:0;
  width:5cm;
}

.datum{
  position:absolute;
  left:0;
  top:5cm;
}

.adresse{
  position:relative;
  left:0;
  top:7cm;
}

.adressfeld{
  position:absolute;
  left:0;
  top:0;
}


.brieftext{
  position:relative;
  left:0;
  top:12cm;
}

.betreff{
  position:absolute;
  left:0;
  top:0;
}

.anrede{
  position:absolute;
  left:0;
  top:1cm;
}

.inhalt{
  position:absolute;
  left:0;
  top:2cm;
}

.gruss{
  position:relative;
  left:0;
  top:24cm;
}

.grusszeilen{
  position:absolute;
  left:0;
  top:0;
}

.blackRow {
margin: 0;
padding: 0;
height: 1cm;
width: 20cm;
background-color: black;
}


}
